
\:root
  --primary-bg-color: #2A2D31
  --secondary-bg-color: #18191B
  --primary-font-color: #FFFFFF
  --secondary-font-color: #C4C4C4
  --primary-color: #FF2266
  --secondary-color: #669999
  --default-animation-length: 150ms

body
  margin: 0
  padding: 0
  background: var(--primary-bg-color)
  color: var(--primary-font-color)
  font-family: Roboto, sans-serif
