@import ../../styles/variables
@import ../../styles/utils

$nav-transition-time: 200ms

.nav
  position: fixed
  width: max-content
  top: 0
  left: 0
  bottom: 0
  display: grid
  grid-template-columns: auto $nav-grab-width

  &.hidden
    pointer-events: none

  &-content
    width: $nav-width
    background: var(--secondary-bg-color)
    display: flex
    flex-direction: column
    box-sizing: border-box
    border-right: solid 1.5px var(--divider-color)
    transform: translateX(var(--nav-pos))

  &-drag
    cursor: col-resize
    transform: translateX(var(--nav-pos))
    pointer-events: all
    &-active
      pointer-events: all
      cursor: col-resize
      position: absolute
      top: 0
      left: 0
      width: 100vw
      height: 100vh
      user-select: none

  &-overlay
    position: absolute
    top: 0
    left: 0
    width: 100vw
    height: 100vh
    background: #0002
    opacity: 1
    transition: opacity $nav-transition-time ease
    &.hidden
      pointer-events: none
      opacity: 0

  &-item
    color: var(--primary-font-color)
    padding: 0.4rem 1rem
    cursor: pointer
    user-select: none
    transition: background $nav-transition-time ease, box-shadow $nav-transition-time ease
    +base-button

    &:focus
      text-decoration: none

    &.active
      color: var(--primary-font-color)
      background: var(--primary-bg-color)

      &:focus
        text-decoration: none

  &-spacer-small
    height: 0.6rem
  &-line
    height: 1px
    background: var(--divider-color)
  &-buttons
    height: 40px
    display: flex
    position: relative
    flex-direction: row-reverse
  &-btn
    padding: 8px
    height: 25px
    top: 0
    left: 0
    line-height: 25px
    font-size: 25px

    +base-button

    &.active
      pointer-events: all
      position: absolute
      transform: translateX(#{$nav-width})

@mixin nav-show-close
  height: 3px
  width: 25px
  border-radius: 2px

.nav-show-close
  transform: translateY(11px)

  position: relative
  background: var(--primary-font-color)
  +nav-show-close
  &::before
    transition: transform $nav-transition-time ease
    content: ' '
    position: absolute
    transform: translateY(-8px)
    background: inherit
    +nav-show-close
  &::after
    transition: transform $nav-transition-time ease
    content: ' '
    position: absolute
    transform: translateY(8px)
    background: inherit
    +nav-show-close

  &.active
    transform: translateY(11px) translateX(5px) rotate(90deg)
    &::before
      transform: translateX(-4px) translateY(10px) rotate(45deg) scaleX(0.5)
    &::after
      transform: translateX(4px) translateY(10px) rotate(-45deg) scaleX(0.5)

@media screen and ( min-width: $mobile-break )
  .nav
    &-overlay
      display: none
