//import css-variables from ../index.sass

@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400&display=swap')

@mixin base-button
  background: inherit
  border: none
  color: var(--primary-font-color)
  font-size: 1rem
  user-select: none
  transition: background-color 200ms ease, box-shadow 200ms ease
  cursor: pointer
  outline: none

  position: relative

  &::-moz-focus-inner
    border: 0
  &:focus,
  &:hover
    background: var(--primary-focus-bg-color)
    box-shadow: 0 0 5px #0006

@mixin markdown
  line-height: 1.7rem
  img
    max-width: 100%
    background-size: cover
  code
    border-radius: 5px
    background: var(--primary-bg-color)
    padding: 0.1rem 0.5rem
    font-family: 'Roboto Mono', monospace
  pre
    line-height: 1.4rem
    background: var(--primary-bg-color)
    border-radius: 5px
    padding: 1rem
    code
      border-radius: 0
      background: inherit
      padding: 0

  hr
    color: var(--divider-color)
  strong
    font-weight: bolder

  a
    img
      display: inline-block
      font-size: inherit
      color: inherit
      height: 1.5em
      vertical-align: -2px
      margin: 0 0.2rem
      transition: transform var(--default-animation-length)
      &:hover
        transform: scale(1.05)
